[Unit]
Description=ShackDash Solar Data Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 %h/.local/share/shackdash/shackdash_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
